<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="/cssFiles/app.css">
    <link rel="icon" href="/images/weather.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class = 'batmanPic' src="/images/robot.jpg" alt="About Pic">
    </div>
    {{>footer}}
</body>
</html>