<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="stylesheet" href="/cssFiles/app.css">
    <link rel="icon" href="/images/weather.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        {{helpMessage}}
    </div>
    {{>footer}}
</body>
</html>